@charset "UTF-8";
/* CSS Document */

.imageSlider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageSlide {
	width: 600px;
    height: 75vh;
    background: grey;
    color: #fff;
    border: 20px solid black;
    margin: auto;
}